@import url("https://fonts.googleapis.com/css2?family=Orienta&display=swap");
* {
  font-family: "Orienta", sans-serif;
}

input,
button {
  font-family: inherit;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-match-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 500px;
}
#search-match-input {
  height: 40px;
  border-radius: 15px;
  border: 2px solid rgb(151, 62, 151);
}
#search-match-button {
  border-radius: 15px;
  height: 40px;
}

.hero-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  border-radius: 23px;
  border: 5px solid black;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.hero-box:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
}
.hero-img {
  border-radius: 15px;
}
